html, body {
  
  color: var(--color);  
  text-align: center; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
 
}

body {
  background-image: url('./assets/BG.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  font-weight: 700;
  max-width: 700px;
  margin:auto;
  padding:10px;
  font-family:  var(--font);
  
}

.title{
  font-size: 2em; 
  margin-bottom: 40px;
  padding:10px;
}

.quoteCard{
  background-color: rgba(0, 0, 0, 0.11);
  padding:10px;
  margin:15px auto;
  width: 89%;
  border-radius: 5px;
}

button {
  display: block;
  margin: 20px auto 30px;
  border: none;
  background: #a80020;
  cursor: pointer;
  padding: 5px 22px;
  font-family:  var(--font);
  color:rgb(34, 34, 34);
  font-size: 1.2em;
  border-radius: 5px;
  
}

button:hover {
  border:1px inset gray
}



hr {
  border: 1px ridge rgba(199, 199, 204, 0.438);
  margin-top:80px
}


h3{
  padding-bottom: 10px;
}

textarea {
  border: none;
  width: 88%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: var(--color);
  font-family:  var(--font);
  padding: 15px;  
  line-height: 1.2; 
  border-radius: 5px;
  font-size: 1em; 
  
}
textarea::placeholder {
  font-weight: bold; 
  color: rgb(63, 87, 133);
  font-size: 1.2em; 
}


textarea:active{
  border:3px inset gray;
  background: var(--color);
}


footer {
  color:lightgray;
  text-align: center;
  font-size: 10px;
  margin: auto;
  padding-bottom: 10px;
 
}