html, body {
  background: black;
  color: var(--color);  
  text-align: center;
  line-height: 1.5; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 85%;
 
}

body {
  font-weight: 400;
  max-width: 700px;
  margin:10px auto;
  padding:20px;
  font-family:  var(--font);
  
}

button {
  display: block;
  margin: 20px auto;
  border: none;
  background: #a80020;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family:  var(--font);
  color:black
}

button:hover {
  border:1px inset gray
}


h4 { 
  padding: 20px;
}


h2 {
  padding-bottom: 20px;
}

textarea {
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: var(--color);
  font-family:  var(--font);
  padding: 15px;  
  line-height: 1.5; 
}

textarea:active{
  border:3px inset gray
}

footer {
  color:lightgray;
  text-align: center;
  font-size: 10px;
  margin: 100px auto;
  padding-bottom: 10px;
 
}